@media screen and (max-width:480px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width:480px) {
  html {
    font-size: 18px;
  }
}

html {
  background-color:black;
}

body {
  font-family: 'Mate', serif;
  letter-spacing: 4px !important;
  color:white !important;
  background-image: url("/static/images/back_image.jpg");
  background-size: cover;
  background-position: left 60%;
  background-position: right 35% bottom 38%;
}

table {
  border: 2px solid #fff;
}

tr {
  height:50px !important;
}

th {
  vertical-align:middle !important;
  background-color: #ADD8E6;
  border: 3px #000 solid;
}

td {
  vertical-align:middle !important;
}

td.category {
  background-color:#EEE;
}

a:hover{
  opacity:0.6 !important;
}

a.navbar-item:hover{
  background: rgba(0,0,0,0.3) !important;
}

img {
  border-radius: 290486px;
  height: 180px;
  width: 180px;
  border: 2px #FFFFFF solid;
}

.wrap {
	overflow: hidden;
}

.navbar {
  background-color:rgba(0,0,0,0.2);
}

.navbar-item {
  color:white !important;
}

.navbar-burger {
  color:white !important;
}


.linkedIn {
  background-color:#0e76a8 !important;
}

.twitter {
  background-color:#55acee !important;
}

.facebook {
  background-color:#3B5998 !important;
}


#homeIcon {
  margin:0 0 2.5px 10px;
}

#navbarBasic {
  background-color:rgba(0,0,0,0);
}

#pr {
  border:0.5px #fff solid;
  background-color:rgba(0,0,0,0.5);
  padding:20px 0px 20px 0px;
}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt80{margin-top:80px;}
.mb50{margin-bottom:50px;}

.wd50pc{width:50%}