@media screen and (max-width:480px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width:480px) {
  html {
    font-size: 18px;
  }
}

html {
  background-color:black;
}

body {
  font-family: 'Mate', serif;
  letter-spacing: 4px !important;
}

tr {
  height:50px !important;

}

th {
  vertical-align:middle !important;
  background-color: #ADD8E6;
  border: 3px #000 solid;
}

td {
  vertical-align:middle !important;
}

a:hover{
  opacity:0.6 !important;
}

a.navbar-item:hover{
  background: rgba(0,0,0,0.3) !important;
}

.wrap {
	overflow: hidden;
}