{% extends 'base.html' %}
{% block contents %}
{% load static %}
<div class="columns">
    <div class="column has-text-centered">
        <p class="is-size-2 mt20">About Me</p>
        <figure>
            <img class="is-rounded mt30" src="{% static 'images/me.jpg' %}">
        </figure>
        <div class="mt30">
            <p class="is-size-4">金谷 太一</p>
            <p class="is-size-5">( Taichi Kanaya )</p>
            <p class="is-size-5">Freelance Engineer</p>
            <p class="is-size-5">1989.10.24</p>
        </div>
        <div class="has-text-centered mt30">
            <p class="is-size-3">- PR -</p>
            <p id="pr" class="is-size-6 has-text-weight-bold is-hidden-mobile">
                2010年から2016年までは札幌で、<br>
                2017年から2018年までは東京で、<br>
                フルスタックエンジニアをテーマにエンジニア一筋で働いています。<br><br>
                顧客折衝からローンチ・保守運用まで全てを経験させていただくことができたため、<br>
                更なる活躍を目指し、2018年12月からフリーランスに転向。<br><br>
                フロントエンドからバックエンド・インフラまで、<br>
                また、上流工程から下流工程まで幅広く経験をしており、対応できます。<br><br>
                今後は視野をグローバルに広げていくべく日々奮闘中です。
            </p>
            <p id="pr" class="is-size-7 has-text-weight-bold is-hidden-tablet is-hidden-desktop is-hidden-widescreen">
                2010年から2016年までは札幌で、<br>
                2017年から2018年までは東京で、<br>
                フルスタックエンジニアをテーマに<br>
                エンジニア一筋で働いています。<br><br>
                顧客折衝からローンチ・保守運用まで<br>
                全てを経験させていただくことができたため、<br>
                更なる活躍を目指し、<br>
                2018年12月からフリーランスに転向。<br><br>
                フロントエンドからバックエンド・インフラまで、<br>
                また、上流工程から下流工程まで<br>
                幅広く経験をしており、対応できます。<br><br>
                今後は視野をグローバルに広げていくべく<br>日々奮闘中です。
            </p>
        </div>
    </div>
</div>
{% endblock %}