{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Mate&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/bulma.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
       integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
       crossorigin="anonymous"></script>
    <script type="text/javascript" src='{% static "js/custom.js" %}'></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body style="background-image: url({% static 'images/back_image.jpg' %});background-size: cover;background-position: left 60%;color:white;" >
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color:rgba(0,0,0,0.2);">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'hp:home' %}">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu" style="background-color:rgba(0,0,0,0);">
        <div class="navbar-start" >
          <a href="{% url 'hp:home' %}" class="navbar-item" style="color:white;">Home</a>
          <a href="{% url 'hp:about_me' %}" class="navbar-item" style="color:white;">About Me</a>
          <a href="{% url 'hp:skills' %}" class="navbar-item" style="color:white;">Skills</a>
          <a href="{% url 'hp:portfolios' %}" class="navbar-item" style="color:white;">Portfolios</a>
          <a href="{% url 'hp:contact' %}" class="navbar-item" style="color:white;">Contact</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a target="_blank" href="https://www.linkedin.com/in/taichikanaya/" class="button is-primary" style="background-color:#0e76a8">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://twitter.com/tk_gold_7/" class="button is-primary" style="background-color:#55acee">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/kanayataichi/" class="button is-primary" style="background-color:#3B5998">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block contents %}{% endblock %}
    </div>
    <footer>
      <div class="content has-text-centered">
        <p style="margin-top:80px">© 2018-2020 あったかIT All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>