{% extends 'base_lp.html' %}
{% block title %}ManaMana{% endblock %}
{% block contents %}
{% load static %}
<div class="lp_manamana_top" style="text-align:center;display:table-cell;vertical-align:middle;">
    <p class="is-size-1">ManaMana</p><br>
    <p class="is-size-4">- 右脳に直接お届けします -</p>
</div>
<div class="has-text-centered mt50 mb50">
    <p class="is-size-4 mb20">人間の記憶力は右脳が優勢</p>
    <div class="maru size_normal blue1">
        <div class="letter3">左脳</div>
    </div>
    <div class="maru">
        <div class="letter3 rmt40">＜＜＜</div>
    </div>
    <div class="maru size_normal red1">
        <div class="letter3">右脳</div>
    </div>
</div>
<div class="has-text-centered lp_band">
    <p class="pt30">ManaManaでは
        <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
        <span class="is-size-4"><u>繰り返しインプット</u></span>
        <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
        を重視しています</p><br>
    <i class="fas fa-star"></i>&nbsp;いつでもどこでも知識をインプットできる<br>
    <i class="fas fa-star"></i>&nbsp;資格勉強、学校の勉強など様々な用途で使える<br>
    <i class="fas fa-star"></i>&nbsp;ご友人やお仕事仲間などと一緒にインプットできる<br><br>
</div>
<div class="has-text-centered">
    <figure>
        <img class="medium is-rounded mt30" src="{% static 'images/down_triangle.png' %}">
    </figure>
    <a target="_blank" href="https://www.manamana.biz/login"
       class="button is-link is-rounded mt30 is-size-3">今すぐ無料で利用する</a>
    <div class="mt10">かんたんマニュアルは<u><a target="_blank" href="https://www.manamana.biz/how_to_use.html">こちら</a></u></div>
</div>
<div class="has-text-centered mt30 mb30" style="background-color:#223a70;color:white">
    <br>
    <p class="is-size-4">How to use</p><br>
</div>
<div class="columns">
    <div class="column">
        <div class=" has-text-centered body-copy">
            <p class="is-size-4 body-copy-title">(1)まずは覚えたいことを登録</p><br>
            <p>Mana Manaでは
                <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
                問題と解答のペアで登録を行います。<br/>CSV形式での一括登録もできますので、<br/>手書きと比較すると時間的コストを
                <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
                大きく削減できます。</p>
        </div>
    </div>
    <div class="column">
        <div class="center-box">
            <div class="center-inner">
                <div class="center-content">
                    <img src="{% static 'images/lp_mm_1.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-hidden-mobile">
        <div class="center-box">
            <div class="center-inner">
                <div class="center-content">
                    <img src="{% static 'images/lp_mm_2.jpg' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class=" has-text-centered body-copy">
            <p class="is-size-4 body-copy-title">(2)定期的にインプット</p><br>
            <p>通勤・通学中などの空き時間で
                <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
                モバイル端末からアクセスし、<br>
                登録した問題にチャレンジします。<br/>
                このように定期的にインプットを行うことで
                <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
                知識を定着させます。<br>
                もちろんPCからのご利用も可能です。<br><br>
                忘却曲線を考慮すると、<br>
                ベストなインプット間隔としては<br><br>
                ・1日以内に10分<br>
                ・1週間以内に5分<br>
                ・1か月以内に2〜4分<br><br>
                をオススメしています。
            </p>
        </div>
    </div>
    <div class="column is-hidden-tablet is-hidden-desktop is-hidden-widescreen">
        <div class="center-box">
            <div class="center-inner">
                <div class="center-content">
                    <img src="{% static 'images/lp_mm_2.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="has-text-centered body-copy">
            <p class="is-size-4 body-copy-title">(3)知識のシェアが可能</p><br>
            <p>ご友人や仕事仲間などを対象とした
                <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
                「ローカルシェアリング機能」<br>全ユーザへシェア可能な
                <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
                「パブリックシェアリング機能」<br/>をそれぞれ搭載しています。<br><br>
                全ユーザへシェアしたカテゴリは、
                <span class="is-hidden-tablet is-hidden-desktop is-hidden-widescreen"><br/></span>
                「いいね！」の対象になることができます。<br>
                動画コンテンツやオンラインサロンなどでの利用や、<br/>学習内容のアピールにも利用いただけます。<br><br>
                ぜひ積極的にご活用いただければ幸いです。</p>
        </div>
    </div>
    <div class="column">
        <div class="center-box">
            <div class="center-inner">
                <div class="center-content">
                    <img src="{% static 'images/lp_mm_3.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column has-text-centered">
        <figure>
            <img class="medium is-rounded mt30" src="{% static 'images/down_triangle.png' %}">
        </figure>
        <a target="_blank" href="https://www.manamana.biz/login"
           class="button is-link is-rounded mt30 is-size-3">今すぐ無料で利用する</a>
        <div class="mt10">かんたんマニュアルは<u><a target="_blank" href="https://www.manamana.biz/how_to_use.html">こちら</a></u>
        </div>
    </div>
</div>
{% endblock %}